* {
	margin: 0px;
	padding: 0px;
}
body {
      background: url('') #FFFF00;
      color: #000;
      font-family: Arial, sans-serif;
    }
    #navbar, #navbar2 {
      margin-bottom: 20px;
    }
h1 {
	font-size: 36px;
	font-family: "Times New Roman", Times, serif;
	color: #FF3;
}
  var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {
      imgDown: "SpryAssets/SpryMenuBarDownHover.gif",
      imgRight: "SpryAssets/SpryMenuBarRightHover.gif"
    });
body {
	background-color: #A096FE;
	font-size: 16px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	text-decoration: none;
}
#mobile {
	height: 50px;
	width: 100px;
	left: 0px;
	top: 0px;
	float: left;
	right: 0px;
	bottom: 0px;
}
#navbar {
	background-color: #A096FE;
	height: 100%;
	width: 100%;
}
ul {
	list-style-type: none;
}
#TIMEDIV {
	display: none;
	border: 1px 1 #000;
	float: none;
	margin: 1px;
	padding: 1px;
}


li {
	text-align: justify;
	text-decoration: none;
	float: left;
}
a {
	color: #000;
	background-color: #3C6;
	height: 50px;
	width: 100px;
	float: none;
	border: thin solid #000;
}
ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	border: 1px solid #000;
	margin: 2px;
	padding: 2px;
}
#kindle_reading_page {
	margin: 100px;
	padding: 100px;
}
#navbar ul {
}
#navbar li {
	float: left;
	position: relative;
}
#navbar li ul li {
	float: left;
}
#navbar ul li a {
}
#navbar ul ul {
	position: absolute;
	visibility: hidden;
}
#navbar ul li:hover ul {
	position: absolute;
	visibility: visible;
}
#mapID {
	margin: 10px;
	padding: 10px;
	border: thin solid #000;
	float: left;
	height: 527px;
	width: 864px;
	background-color: #666;
}
#mapID2 {
	margin: 10px;
	padding: 10px;
	float: left;
	height: 528px;
	width: 950px;
	background-color: #666;
	border: thin solid #000;
}
#house {
	height: 227px;
	width: 333px;
}

.bold {
	font-weight: bold;
}
#center1 {
	top: 100px;
	position: fixed;
	height: auto;
	width: auto;
	text-align: center;
	display: block;
	visibility: visible;
	border: thin solid #000;
	left: 500px;
}
#center3 {
	border: thin solid #000;
	position: relative;
	top: 30%;
	text-align: left;
	left: 200px;
}
#center2 {
	float: right;
	border: thin solid #000;
	position: relative;
	top: 300px;
	right: 300px;
	text-align: center;
}
#navbar2 {
	display: block;
	border: thin solid #000;
	clear: none;
	float: right;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 70%;
	bottom: 0px;
}
#companyid {
	left: 25%;
	top: 25%;
	height: 65px;
	width: 450px;
	border: thin solid #000;
	position: static;
}
#PeopleAttendingMarraige {
	display: block;
	margin: 10px;
	padding: 10px;
	float: left;
	height: 100%;
	width: 80%;
	border: thin solid #000;
}
#bro {
	margin: 10px;
	padding: 10px;
	float: left;
	height: 200px;
	width: 400px;
}
#family {
	margin: 10px;
	padding: 10px;
	height: 250px;
	width: 500px;
}
#khad {
	margin: 20px;
	padding: 20px;
	float: left;
	height: auto;
	width: auto;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-top-style: 10;
	border-right-style: 10;
	border-bottom-style: 10;
	border-left-style: 10;
}
#khal {
	margin: 10px;
	padding: 10px;
	float: left;
	height: auto;
	width: auto;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-top-style: 10;
	border-right-style: 10;
	border-bottom-style: 10;
	border-left-style: 10;
}
#KICTHENID1 {
	padding-top: 0px;
	margin-top: 25%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#kicthenid2 {
	margin-left: 90%;
}
#myhomelayout {
	background-color: #0C3;
	margin: 50px;
	padding: 50px;
	float: left;
	border: 10px 10 #000;
	height: auto;
	width: auto;
}
#cam_reg {
	background-color: #F00;
}
#groundF {
	background-color: #A096FE;
	position: relative;
	margin-top: 0%;
	height: auto;
	width: auto;
	clear: both;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clip: rect(auto,auto,auto,auto);
	top: -20px;
}
#tabbedpane {
	float: left;
	height: 200px;
	width: 350px;
}
#calenderdates {
}
#eldersis {
	margin: 10px;
	padding: 10px;
	float: right;
	width: auto;
	position: relative;
}
#CEMEP {
	margin: 10px;
	padding: 10px;
	float: right;
	height: 400px;
	width: 550px;
}
#itravel {
	float: left;
	height: 200px;
	width: 350px;
	padding: 10px;
}
#itravel2 {
	float: left;
	height: 200px;
	width: 350px;
	padding: 10px;
}

#bho {
	margin: 10px;
	padding: 10px;
	float: left;
	height: auto;
	width: auto;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
#splitpane {
	height: 500px;
	width: 1000px;
	margin: auto;
	padding: 2px;
	float: left;
	position: absolute;
}
#splitpane1 {
	height: 500px;
	width: 1000px;
	margin: auto;
	padding: 2px;
	float: right;
	position: relative;
}
#personalID {
	margin: 2px;
	padding: 2px;
	height: 800px;
	width: 600px;
	float: left;
}
#shariffID {
	margin: 2px;
	padding: 2px;
	height: 500px;
	width: 500px;
	float: left;
}
#fatherId {
	margin: 2px;
	padding: 2px;
	height: 500px;
	width: 600px;
	float: left;
}
#HOUSEROOMS {
	margin: 5px;
	padding: 5px;
	float: right;
	height: 533px;
	width: 783px;
	border-top-style: 2;
	border-right-style: 2;
	border-bottom-style: 2;
	border-left-style: 2;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	position: relative;
}
#PROJECTS {
	margin: 5px;
	padding: 5px;
	float: right;
	height: 500px;
	width: 500px;
}
#TRAVELID {
	margin: 1px;
	padding: 1px;
	float: left;
	height: 50%;
	width: 40%;
}
#OD_COOR_PROB {
	float: left;
	height: 25%;
	width: auto;
	margin: 1px;
	padding: 1px;
	clear: right;
}
font {
	font-size: 9px;
}
#set_rect {
	margin: 2px;
	padding: 2px;
	float: right;
	height: auto;
	width: auto;
	border: thin dashed #000;
}
#size1 {
	font-size: 14px;
}
.calamities {
	border: thick solid #000;
}
#calamities {
	background-color: #9FF;
	text-align: center;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: thick solid #000;
	font-size: 36px;
	color: #666;
}
#FASTINGRULES {
	font-size: 36px;
	color: #000;
	background-color: #0FF;
	width: 1200px;
}

#every_man_must {
	background-color: #FFF;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: auto;
	border: thick solid #000;
	font-size: 36px;
}
#virtues_of_mirraige {
	background-color: #C9F;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 1px 1 #000;
	font-size: 36px;
}
#rights_of_brother {
	background-color: #6F6;
	text-align: left;
	word-spacing: normal;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 2px 2 #000;
	font-size: 36px;
}
#rights_of_animals {
	color: #900;
	background-color: #FF6;
	display: block;
	margin: 3px;
	padding: 3px;
	float: left;
	height: auto;
	width: 1200px;
	border: 1px 1 #000;
}
#rights_of_humans {
	color: #F0F;
	background-color: #6FF;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 1px 1 #000;
	font-size: 36px;
}
#rights_of_weak_old {
	color: #F00;
	background-color: #FF0;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 10px 10 #333;
	font-size: 36px;
}
#Rights_of_neighbour {
	color: #F00;
	background-color: #0FF;
	display: block;
	margin: 1px;
	padding: 1px;
	float: right;
	height: auto;
	width: 1200px;
	border: 1px 1 #000;
	font-size: 36px;
}
#rights_of_muslims {
	color: #000;
	background-color: #F6F;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 10px 10 #000;
	font-size: 36px;
}
#RKP {
	color: #FF0;
	background-color: #F00;
	font-family: "MS Serif", "New York", serif;
	font-size: 36px;
}

#rights_of_elderbro {
	color: #000;
	background-color: #0FF;
	display: block;
	margin: 1px;
	padding: 1px;
	float: right;
	height: auto;
	width: 1200px;
	border: 10px 10 #000;
	font-size: 36px;
}
#RIGHTS_of_parents {
	color: #F00;
	background-color: #CF6;
	display: block;
	margin: 10px;
	padding: 10px;
	float: right;
	height: auto;
	width: 1200px;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-top-style: 10;
	border-right-style: 10;
	border-bottom-style: 10;
	border-left-style: 10;
	font-size: 36px;
}
#rights_of_husband {
	color: #00F;
	background-color: #FF0;
	display: block;
	margin: 1px;
	padding: 1px;
	float: left;
	height: auto;
	width: 1200px;
	border: 10px 10 #000;
	font-size: 36px;
}
#RM {
	border: 1px 1 #000;
}
#fontsize {
	font-size: 36px;
}
#tablechair {
	position: static;
	visibility: visible;
	right: 20px;
	top: 10px;
	clip: rect(10px,20px,auto,auto);
	margin-right: 30px;
	float: left;
}
#school_GI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF0;
	text-decoration: underline;
	background-color: #000;
	margin: 1px;
	padding: 1px;
	clear: both;
	float: left;
	height: auto;
	width: auto;
	border: 1px solid #333;
}
